<!DOCTYPE html>
<html>
<head>
  <title>YEPP</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700|Sigmar+One' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME'] %>',
      upload_preset: '<%= ENV['UPLOAD_PRESET']%>'
    };
  </script>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
